.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  text-align: center;

  .title-section {
    font-size: 80px;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  .desc {
    font-size: 24px;
  }
}
