.pageNews {
  margin-top: 100px;
  padding-block: 50px;

  .pageContainer {
  }

  &__header {
    margin-bottom: 20px;

    &-title {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-date {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      color: var(--color-lightBlue);
    }
  }

  &__image {
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .markdown-container {
    p {
      font-size: 16px;
      margin-bottom: 16px;
      text-align: justify;

      img {
        width: 100%;
      }
    }

    a {
      color: var(--color-lightBlue);
      text-decoration: underline;
      font-weight: 500;
    }

    ul {
      margin-bottom: 20px;

      li {
        margin: 0 16px;
        margin-top: 10px;
        text-align: justify;
        list-style-type: decimal;
      }
    }

    blockquote {
      border-left: 4px solid #ccc;
      padding-left: 16px;
      margin: 16px 0;
      color: #555;
      font-style: italic;
      font-size: 18px;
    }
  }
}
