.searchCatalog {
  &__title {
    margin-bottom: 20px;
  }

  .blockresult {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 25px;

    .resultText {
      border: 1px solid var(--color-gray);
      padding: 20px 15px;
      color: var(--color-lightBlue);
      font-weight: 600;
      font-size: 18px;
      transition: 0.2s;

      &:hover {
        color: var(--color-darkBlue);
      }
    }
  }

  .searchCatalog {
    padding: 12px 16px;
    width: 80%;
    border: 1px solid var(--color-gray);
    border-radius: 35px;
    font-size: 16px;
  }
}
