@font-face {
  font-family: 'Montserrat';
  src: url('./../assets/fonts/Montserrat-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../assets/fonts/Montserrat-Medium.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../assets/fonts/Montserrat-SemiBold.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}