@use "@/styles/fonts";
@use "./variable";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: none;
  list-style: none;

  font-family: "Montserrat";
  z-index: 1;
}

h1 {
  font-family: Montserrat;

  margin: 0;
  padding: 0;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
}

select {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}


body.a11y-mode {
  font-size: 20px;
  line-height: 1.6;
  background: #000 !important;
  color: #fff !important;
}

body.a11y-mode a {
  color: #ff0 !important;
  text-decoration: underline;
}

body.a11y-mode button {
  background: #ff0 !important;
  color: #000 !important;
}

body.a11y-mode img {
  opacity: 0.9;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;

  .icon {
    color: rgb(129, 129, 129);
  }

  .title {
    font-size: 72px;
  }

  .desc {
    font-size: 68px;
  }

  @media screen and (max-width: 500px) {
    .title {
      font-size: 48px;
    }

    .desc {
      font-size: 33px;
    }
  }

}