.faq {
  padding-block: 90px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-top: 25px;

    @media screen and (max-width: 426px) {
      .question {
        font-size: 16px;
      }
      .answer {
        font-size: 15px;
      }
    }
  }
}
