.PageNewsCard {
  overflow: hidden;

  .news-image {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      object-fit: cover;
      transition: all 0.5s;
      width: 100%;
      height: 100%;
    }
  }

  .news-info {
    margin-top: 8px;
  }

  .news-date {
    font-size: 14px;
    color: var(--color-gray);
  }

  .news-title {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;

    overflow: hidden;
    line-clamp: 3;
  }

  &:hover {
    .news-image img {
      transform: scale(1.05);
    }
  }
}
